html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

/* Loader CSS from */
#loader {
  border: 12px solid #f3f3f3;
  border-radius: 50%;
  border-top: 12px solid #444444;
  width: 70px;
  height: 70px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  100% {
      transform: rotate(360deg);
  }
}

.center {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

/* Sets the order */
#viewDiv {
  height: 100%;
  width: 100%;
  flex: 1 1 auto;
  order: 1;
}

#HomeButton {
    position: absolute;
    top: 95px;
    left: 20px;
    z-index: 50;
}

/* Footer meant to emulate CMHC website: https://www.cmhc-schl.gc.ca/ */
#Canada_logo img {
    float: right;
    width: 120px;
    vertical-align: top;
    margin-right: 40px;
    
.footer-bottom {
    border-top: 1px solid #606060;
    padding: 25px 0;
    margin-top: 35px;
    font-size: 0.95em;
    line-height: 2em;
}
